<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/index.css" rel="stylesheet"></link>
  <link href="/stylesheets/bootstrap.css" rel="stylesheet">
  <title>Kspsss</title>
</head>
<body>
    <div>
        HELLO WORLD
    </div>
    <div class="inner">
        {{{body}}}
    </div>
      <script src="/javascripts/bootstrap.js"></script>
</body>
</html>