<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/index.css" rel="stylesheet"></link>
  <link href="/stylesheets/bootstrap.css" rel="stylesheet">
  <title>Kspsss</title>
</head>
<body>
<div class="bg-main">
    <nav class="navbar NavTop">
      <div class="container">
      <a class="navbar-brand navText" href="#">
        Shorter.com
        <img src="/images/chain.svg" width="30" height="30" class="d-inline-block align-top" alt="SVG Image">
      </a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
      </ul>
      </div>
    </nav>
    <div class="inner">
        {{{body}}}
    </div>
  </div>
      <script src="/javascripts/bootstrap.js"></script>
      <script src="/javascripts/form.js"></script>
</body>
</html>